#calc_main_body {
    background-color: black;
    width: 30vw;
    border-radius: 10px;
}

#header {
    text-align: center;
    color: green;
    font-size: 3.5vw;
}

#calc_screen {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 28vw;
    height: 4vw;
    border-radius: 20px;
    background-color: green;
    text-align: center;
    font-size: 3.5vw;
    color: rgb(190, 187, 187);
}

#grid_container button {
    background-color: green;
    border-radius: 10px;
    opacity: 0.8;
    width: 7vw;
    height: 4vw;
    text-align: center;
    font-size: 3.5vw;
    color: rgb(190, 187, 187);
}

#grid_container button a {
    text-decoration: none;
}

#grid_container button:hover {
    opacity: 1;
}

#grid_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1px;
    width: 27.9vw;
    margin-left: 1vw;
    margin-top: 1vw;
}

#clear_button {
    background-color: green;
    border-radius: 10px;
    opacity: 0.8;
    width: 7vw;
    height: 2.5vw;
    text-align: center;
    vertical-align: middle;
    font-size: 2.6vw;
    color: rgb(190, 187, 187);
}